{% extends 'SiteBundle::layout.html.twig' %}

{% block title %}SiteBundle:Messages:index{% endblock %}

{% block body %}

<script>
pg = 'Messages';
var idInboxRead = 0;
var idInboxRemove = [];
var loginInboxRemove = '';
var paginaInbox = 1, paginaInboxOld = 1, paginaInboxSent = 1, paginaFriends = 1;

function loadInbox(filter) {
	var url =  '/json/inbox';	
	if(filter=='read'){
		var params =  {
		filter: filter,
			page: paginaInboxOld
		};
		jsonCall(url, params, callbackInboxOld);
	} else {
		var params =  {
		filter: filter,
			page: paginaInbox
		};
		jsonCall(url, params, callbackInbox);
	}
}
function loadInboxAdd() {
	var msg = jQuery(".messageAdd").val();
	var tit = msg.length > 30 ? msg.substr(0,30) + "..." : msg;
	var url =  '/json/inbox/add';
	var params =  {
		to: jQuery(".userAdd").attr("data"),
		title: tit,
		message: msg
	};
	jsonCall(url, params, callbackInboxAdd);	
}
function loadInboxSent() {
	var url =  '/json/inbox/sent';
	var params =  {
		page: paginaInboxSent
	};
	jsonCall(url, params, callbackInboxSent);	
}
function loadInboxRead() {
	var url =  '/json/inbox/read';
	var params =  {
		id: idInboxRead
	};
	jsonCall(url, params, callbackInboxRead);	
}
function loadFriends() {
	var url =  '/json/friends';
	var params =  {
		page: paginaFriends
	};
	jsonCall(url, params, callbackFriends);	
}
function loadInboxRemove() {
	var url =  '/json/inbox/remove';
	var params =  {
		username: loginInboxRemove,
		messages: idInboxRemove
	};
	jsonCall(url, params, callbackInboxRemove);	
}
function loadUser() {
	var url =  '/json/users';
	var params =  {
		/////FALTANDO
	};
	jsonCall(url, params, callbackUsers);	
}
//CALLBACKS
function callbackUsers(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	console.log(obj);
}
function callbackInboxRemove(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	console.log(obj);
}
function callbackFriends(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	console.log(obj);
	jQuery(".totalFriends").children(".total").text(obj.data.length);
	if(obj.data.length > 0){
		if(paginaFriends == 1) jQuery("#friends-list").html(compileFriends(obj))
		else jQuery("#friends-list").append(compileFriends(obj));
	
		if(jQuery("#friends .friends").attr("data") == "0"){
			jQuery("#friends :first").hide();
		}
	} else {
		jQuery("#friends").html('<center>Você não tem amigos no CoolSpots!</center>');
	}
	
	paginaFriends++;
}
function callbackInboxRead(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	console.log(obj);
}
function callbackInboxSent(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	console.log(obj);
	
	if(paginaInboxSent == 1) jQuery("#messages-sent-list").html(compileMessagesSent(obj))
	else jQuery("#messages-sent-list").append(compileMessagesSent(obj));
	
	if(jQuery("#messages-sent .messages-sent").attr("data") == "0"){
		jQuery("#messages-sent :first").hide();
	}
	
	paginaInboxSent++;
}
function callbackInboxAdd(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	} else {
		paginaInboxSent = 1;
		loadInboxSent(); 
	}
	
	console.log(obj);
}
function callbackInboxOld(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	var total = obj.data.length;
	
	if(obj.data.length > 0){
		if(paginaInboxOld==1) jQuery("#messages-inbox-old-list").html(compileMessagesInboxOld(obj))
		else jQuery("#messages-inbox-old-list").append(compileMessagesInboxOld(obj));
	
		if(jQuery("#messages-inbox-old .messages-inbox-old").attr("data") == "0"){
			jQuery("#messages-inbox-old :first").hide();
		}
	} else {
		jQuery("#messages-inbox-old").html('<center>Nenhuma mensagem!</center>');
	}
	
	console.log(obj);
		
	paginaInboxOld++;
	
}
function callbackInbox(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	var total = obj.data.length;
	jQuery(".totalInbox").children(".total").text(total);
	
	if(obj.data.length > 0){
		if(paginaInbox==1) jQuery("#messages-inbox-list").html(compileMessagesInbox(obj))
		else jQuery("#messages-inbox-list").append(compileMessagesInbox(obj))
	
		if(jQuery("#messages-inbox .messages-inbox").attr("data") == "0"){
			jQuery("#messages-inbox :first").hide();
		}
	} else {
		jQuery("#messages-inbox").html('<center>Nenhuma mensagem nova!</center>');
	}
	
	console.log(obj);
		
	paginaInbox++;
	
}

jQuery(document).ready(function(){
	jQuery(site).css("visibility","visible");
	jQuery(".messages-esq").css("min-height",jQuery(window).height());
	
	directiveInbox = {
		'.messages-inbox': {
			'obj<-data': {
				'@data':'obj.idUserFrom.fullName',
				'.toggle@id':'obj.id',
				'.toggle@title':'obj.idUserFrom.fullName',
				'h4.name':'obj.idUserFrom.fullName',
				'.toggle em': 'obj.dateAdded.timestamp',
				'.mes-content p':'obj.message',
				'.delete@data':'obj.id',
				'.delete@rel':'obj.idUserFrom.username',
				'.reply@data':'obj.idUserFrom.username',
				'.reply@rel':'obj.idUserFrom.fullName'
			}
		}
	}
	compileMessagesInbox = jQuery('#messages-inbox').compile(directiveInbox);
	
	directiveInboxOld = {
		'.messages-inbox-old': {
			'obj<-data': {
				'@data':'obj.idUserFrom.fullName',
				'.toggle@id':'obj.id',
				'.toggle@title':'obj.idUserFrom.fullName',
				'h4.name':'obj.idUserFrom.fullName',
				'.toggle em': 'obj.dateAdded.timestamp',
				'.mes-content p':'obj.message',
				'.delete@data':'obj.id',
				'.delete@rel':'obj.idUserFrom.username',
				'.reply@data':'obj.idUserFrom.username',
				'.reply@rel':'obj.idUserFrom.fullName'
			}
		}
	}
	compileMessagesInboxOld = jQuery('#messages-inbox-old').compile(directiveInboxOld);

	directiveSent = {
		'.messages-sent': {
			'obj<-data': {
				'@data':'obj.idUserTo.fullName',
				'.toggle@title':'obj.idUserTo.fullName',
				'h4.name':'obj.idUserTo.fullName',
				'.toggle em': 'obj.dateAdded.timestamp',
				'.mes-content p':'obj.message',
				'.delete@data':'obj.id',
				'.delete@rel':'obj.idUserFrom.username',
				'.reply@data':'obj.idUserTo.username',
				'.reply@rel':'obj.idUserTo.fullName'
			}
		}
	}
	compileMessagesSent = jQuery('#messages-sent').compile(directiveSent);
	
	directiveFriends = {
		'.friends': {
			'obj<-data': {
				'@data':'obj.username',
				'img@src': 'obj.profilePicture',
				'h4.name':'obj.fullName',
				'h4.login':'obj.username',
				'.desde': 'obj.dateAdded.timestamp'
			}
		}
	}
	compileFriends = jQuery('#friends').compile(directiveFriends);
	
	loadInbox('new');
	loadInbox('read');
	loadInboxSent();
	loadFriends();
	loadUser();
	
	var	shadown = '.shadown';
	jQuery(document).delegate('.reply', 'click', function(){
		var html = '';
		html += '<div class=\"box-criar-evento boxDiversos\">';
		html += '	<div class=\"space\">';
		html += '		<h2 class=\"box-h2\">Nova Mensagem</h2>';
		html += '		<div class=\"row\">';
		html += '			<span class=\"colM\">Para</span>';
		html += '			<div class=\"col2M\" contenteditable=\"true\">';
		html += '				<span class=\"userAdd borRad02\" data="'+jQuery(this).attr("data")+'">' + jQuery(this).attr("rel") + '<em contenteditable=\"false\"></em></span>';
		html += '			</div>';
		html += '		</div>';
		html += '		<div class=\"clr h05\"></div>';
		html += '		<div class=\"clr\"></div><div class=\"rowDivide\"></div>';
		html += '		<div class=\"row\">';
		html += '			<textarea name=\"detalhes\" rows=\"5\" class=\"messageAdd campos-box bor-less\" placeholder=\"Escreva sua mensagem\"></textarea>';
		html += '		</div>';
		html += '		<div class=\"clr\"></div><div class=\"rowDivide\"></div>';
		html += '		<input class=\"btn-padrao-m dir btn-cancel\" type=\"button\" value=\"Cancelar\">';
		html += '		<input class=\"btn-padrao-m dir marRig05 btn-message-add\" type=\"button\" value=\"Enviar\">';
		html += '	</div>';
		html += '</div>';
		jQuery(shadown).html(html).fadeIn('slow');
	});
	
	jQuery(document).delegate('.delete', 'click', function(){
		idInboxRemove = [];
		idInboxRemove.push(jQuery(this).attr("data"));
		loginInboxRemove = jQuery(this).attr("rel");
		loadInboxRemove();
		jQuery(this).closest(".msg-box").fadeOut('fast').end().remove();
	});
	jQuery(document).delegate('.btn-message-add', 'click', function(){
		loadInboxAdd();
		jQuery(shadown).html("").fadeOut('slow');
	});
	
	//MESSAGES
	jQuery(".mes-box:first").show();
	jQuery(document).delegate('a.toggle', 'click', function(){
		if(!(jQuery(this).find("span").hasClass("ativo"))){
			jQuery("a.toggle").find("span").removeClass("ativo");
			jQuery(this).find("span").addClass("ativo");
		} else {
			jQuery(this).find("span").removeClass("ativo");
		}
		jQuery(this).next().slideToggle('fast');
		
		if(jQuery(this).hasClass("inbox-new")){
			idInboxRead = jQuery(this).attr("id");
			jQuery(this).removeClass("inbox-new");
			loadInboxRead();
		}
		
		return false;
	});
	
	jQuery("a.menuMes").click(function(){
		var action = jQuery(this).attr("rel");
		if(action=='Inbox') { 
			paginaInbox = 1; paginaInboxOld = 1; paginaInboxSent = 1;
			loadInbox('new');	loadInbox('read'); loadInboxSent(); 
		}
		if(action=='Friends') {
			paginaFriends = 1;
			loadFriends();
		}
	});
});
</script>
<div class="page messages">
	<div class="messages-esq">
		<div class="content">
			<h1>{{ app.session.get('full_name') }}</h1>
			
			<div class="content-esq">				
				<a rel="Inbox" class="menuMes menuPink menuPinkAtivo totalInbox" href="#" title="Mensagens" data="box-messages"><span class="pink"></span>Mensagens <span class="total">0</span></a>
				<a rel="Friends" class="menuMes menuPink totalFriends" href="#" title="Amigos" data="box-amigos"><span class="pink"></span>Amigos <span class="total">0</span></a>
				<!--a class="menuMes menuPink totalFavorites" href="#" title="Favoritos" data="box-favoritos"><span class="pink"></span>Favoritos <span class="total">0</span></a-->
				<a class="menuMes menuPink" href="#" title="Minhas Informações" data="box-info"><span class="pink"></span>Minhas Informações</a>
			</div>
		</div>
	</div>
	<div class="messages-info">
		<div class="content">
			<div class="mes-box box-messages">
				<h2>Novas</h2>
				<div class="clr h10"></div>
				
				<div id="messages-inbox">
					<div class="messages-inbox msg-box" data="0">
						<a id="" class="toggle inbox-new" href="#" title="">
							<h4 class="name"></h4> 
							<em></em><span class="span"></span>
						</a>
						<div class="mes-content">
							<p></p>
					
							<div class="clr h10"></div>
							<input class="btn-padrao-m dir delete" data="" rel="" type="button" value="Deletar">
							<input class="btn-padrao-m dir marRig05 reply" data="" rel="" type="button" value="Responder">
							<div class="clr"></div>
						</div>
					</div>
				</div>
				<div id="messages-inbox-list"></div>
				
				<div class="clr h20"></div><div class="clr h20"></div>
				<h2>Antigas</h2>
				<div class="clr h10"></div>
				
				<div id="messages-inbox-old">
					<div class="messages-inbox-old msg-box" data="0">
						<a id="" class="toggle" href="#" title="">
							<h4 class="name"></h4> 
							<em></em><span class="span"></span>
						</a>
						<div class="mes-content">
							<p></p>
					
							<div class="clr h10"></div>
							<input class="btn-padrao-m dir delete" data="" rel="" type="button" value="Deletar">
							<input class="btn-padrao-m dir marRig05 reply" data="" rel="" type="button" value="Responder">
							<div class="clr"></div>
						</div>
					</div>
				</div>
				<div id="messages-inbox-old-list"></div>
				
				
				<div class="clr h20"></div><div class="clr h20"></div>
				<h2>Enviadas</h2>
				<div class="clr h20"></div>
				
				<div id="messages-sent">
					<div class="messages-sent msg-box" data="0">
						<a class="toggle" href="#" title="">
							<h4 class="name"></h4> 
							<em></em><span class="span"></span>
						</a>
						<div class="mes-content">
							<p></p>
					
							<div class="clr h10"></div>
							<input class="btn-padrao-m dir delete" data="" rel="" type="button" value="Deletar">
							<input class="btn-padrao-m dir marRig05 reply" data="" rel="" type="button" value="Nova Mensagem">
							<div class="clr"></div>
						</div>
					</div>
				</div>
				<div id="messages-sent-list"></div>
			</div>
			
			<div class="mes-box box-amigos">
				<h2>Amigos</h2>
				<div class="clr h20"></div>
				
				<div id="friends">
					<div class="friends" data="0">
						<img src="" alt="" />
						<div class="friends-info">
							<h4 class="name"></h4>
							<h4 class="login"></h4>
							<div class="clr h10"></div>
							<input type="button" class="btn-padrao-m" value="Desfazer amizade" />
							<span class="desde"></span>
						</div>
					</div>
					<div class="clr separator"></div>
				</div>
				
				<div id="friends-list"></div>
			</div>
			
			<div class="mes-box box-favoritos">
				<h2>Favoritos</h2>
				<div class="clr h20"></div><div class="clr h20"></div>
			</div>
			
			<div class="mes-box box-info">
				<h2>Minhas Informaçõs</h2>
				<div class="clr h20"></div><div class="clr h20"></div>
				
				<div class="user" data="0">
					<img src="{{ app.session.get('profile_picture') }}" alt="" />
					<div class="user-info">
						<h3 class="name">{{ app.session.get('full_name') }}</h3>
						<h4 class="login">Username: {{ app.session.get('username') }}</h4>
						<h4 class="email">Email:{{ app.session.get('email') }}</h4>
						<span class="entrou">Entrou {{ app.session.get('token_date') }}</span>
					</div>
				</div>
			</div>
			<div class="clr h10"></div>
		</div>		
	</div>
</div>
{% endblock %}