{% extends page == 1 ? 'SiteBundle::layout.html.twig' : 'SiteBundle::blank.html.twig' %}

{% block body %}
<script>
pg = 'Photos';
barBox = ".location-info";
var paginaLocationsComments = 1, locationsCommentsAddText;

var $b = jQuery.noConflict();
$b(document).ready(function(){
	var	timer = "", 
		time = 0, 
		wid = 0, 
		locInfo = $b(".location-info"),
		comment = $b(".comment"),
		comIco = $b(".com-ico"),
		comBack= $b(".com-back"),
		datIco = $b(".calendar-ico"),
		site = $b("#site"); 
	
	barLateral(false,3000);
	
	$b(comIco).click(function() {
		$b(comment).toggleClass("closed");
		if($b(comment).hasClass("closed")){
			$b(comment).animate({"right" : 10}, 500);
			$b(comBack).animate({"right" : $b(comment).width()+12}, 500);
		} else { 
			$b(comBack).animate({"right" : -53}, 500);
			$b(comment).animate({"right" : -353}, 500);			
		}
		return false;
	});
	$b(comBack).click(function() {
		$b(comment).toggleClass("closed");
		$b(this).animate({"right" : -53}, 500);
		$b(comment).animate({"right" : -353}, 500);
		return false;
	});
	$b(datIco).click(function() {
		alert("open");
	});
	
	var	shadown = '.shadownPics';
	var html = '';
	html += '<div class=\"gallery-box\"><div class=\"box\">';
	html += '	<div class=\"slide-eve-prev\"></div><div class=\"slide-eve-next\"></div>';
	html += '	<div class=\"content\">';
	html += '		<div class=\"img\"><span class=\"sh\"></span><img src=\"\" />';
	html += '			<div class=\"description\">';
	html += '				<span class=\"caption\"></span>';
	html += '				<div class=\"author\">';
	html += '					<img src=\"\" width=\"30\" height=\"30\" />';
	html += '					<h3>';
	html += '						<strong class=\"user\"></strong>';
	html += '						enviou essa foto de';
	html += '						<strong><strong class=\"name_location\"></strong></strong>';
	html += '						<br /><span class=\"data_pic\"></span>';
	html += '					</h3>';
	html += '				</div>';
	html += ' 			</div>';
	html += ' 		</div>';
	html += '	</div>';
	html += '	<div class=\"slide-close\"></div>';
	html += '	<div class="slide-icos">';
	html += '		<div class=\"line\">';
	html += '			<div class=\"icos cur\"></div><span class=\"p1\"></span>';
	html += '			<span>Curtir esta foto</span>';
	html += '			<span class=\"p2\"></span></div>';
	html += '		<div class=\"line\">';
	html += '			<div class=\"icos men\" data=\"\" rel=\"\"></div><span class=\"p1\"></span>';
	html += '			<span>Enviar mensagem ao usuário</span>';
	html += '			<span class=\"p2\"></span></div>';
	html += '		<div class=\"line\">';
	html += '			<div class=\"icos com\"></div><span class=\"p1\"></span>';
	html += '			<span>Compartilhar</span>';
	html += '			<span class=\"p2\"></span></div>';
	html += '	</div>';
	html += '</div>';
	html += '</div>';
	
	$b(shadown).html(html);
	
	var widthIco = 0;
	$b(".line").hover(function(event){
		if (event.type === 'mouseenter') {
			$b(this).find("span").fadeIn();
		} else {
			$b(this).find("span").fadeOut('fast');
		}
	});
	
	$b(".gallery-box").delegate(".sh",'click', function(event) {
		$b(".gallery-box .description").slideToggle();
		$b(this).toggleClass("shb");
	});
	
	$b(comment).height($b(window).height()-55);
	$b(comment).mCustomScrollbar({
		scrollInertia: 0,
		autoHideScrollbar: true,
		advanced:{
			updateOnBrowserResize: true,
			updateOnContentResize: true
		}
	});
});

loadLocationInfo();

function loadLocationInfo() {
	var url =  '/json/locations/info';
	var params =  {
		id : {{ location.id }}
	};
	jsonCall(url, params, callbackLocationInfo);	
}
function callbackLocationInfo(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	console.log(obj);
	jQuery(".locName").text(obj.data.name);
	var likes = obj.data.likesCount == null ? "Seja o primeiro a indicar" : "";
	jQuery(".locLikes").text(likes);
	jQuery(".locAddress").text(obj.data.address == null ? "" : obj.data.address);
	jQuery(".locCatCitSta").html(obj.data.idCategory.name + "<br />"+ obj.data.idCity.cityName + " - " + obj.data.idState.stateName);
}
function loadLocationPhotos() {
	var url =  '/json/locations/photos';
	var params =  {
		id : {{ location.id }},
		page: pagina
	};
	jsonCall(url, params, callbackLocationPhotos);	
}
function callbackLocationPhotos(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	divide(obj);
	
	if(one) jQuery("#photo-list").append(compila(part1));
	if(two) jQuery("#photo-list").append(compila(part2));
	pagina++;
	
	jQuery('.timeago').timeago();
}

function loadLocationsComments() {
	var url =  '/json/locations/comments';
	var params =  {
		id: {{ location.id }},
		page: paginaLocationsComments
	};
	jsonCall(url, params, callbackLocationsComments);	
}
function callbackLocationsComments(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	}
	
	console.log(obj);
	var totComments = obj.data == null ? "(0)" : "("+obj.data.length+")";
	jQuery(".comments-total").text(totComments);
	
	if(paginaLocationsComments == 1) jQuery("#location-comments-result").html(compileLocationsComments(obj))
	else jQuery("#location-comments-result").append(compileLocationsComments(obj));
	
	//if(jQuery("#location-comments .location-comments").attr("data") == ""){
		jQuery("#location-comments :first").hide();
	//}
	
	paginaLocationsComments = 1;
}

function loadLocationsCommentsAdd() {
	var url =  '/json/locations/comments/add';
	var params =  {
		id: {{ location.id }},
		username: '{{ app.session.get('username') }}',
		comment: locationsCommentsAddText
	};
	jsonCall(url, params, callbackLocationsCommentsAdd);	
}
function callbackLocationsCommentsAdd(obj) {
	if(!obj) {
		console.log("ERRO DURANTE EXECUÇÃO DA CHAMADA AJAX");
		return(false);
	}
	
	if(obj.meta.status === 'ERROR') {
		console.log(obj.meta.message);
		return(false);
	} else {
		loadLocationsComments();
	}
}

jQuery(document).ready(function(){
	var i=1;
	directive = {
		'li.photo': {
			'obj<-data': {
				'@data':'obj.standardResolution',
				'@class+':function(arg){
					if(i == 10) {
						posObj = ' li-1'; i=1;
					} else { 
						posObj = ' li-'+i 
					};
					i++;
					return posObj;
				},
				'.name@value': 'obj.idUser.fullName',
				'.userpic@value': 'obj.idUser.profilePicture',
				'.dateadded@value': function(){
					return dateAgo('agodate',this.dateAdded.timestamp)
				},
				'.name_location@value': 'obj.idLocation.name',
				'.username@value': 'obj.idUser.username',
				'.caption@value': 'obj.caption',
				'.timeago@title': function(){
					return dateAgo('timeago',this.dateAdded.timestamp)
				},
				'.day': function(){
					return dateAgo('day',this.dateAdded.timestamp)
				},
				'.day-str': function(){
					return dateAgo('daystr',this.dateAdded.timestamp)
				},
				'.image img@data-original':'obj.standardResolution'
			}
		}
	}
	compila = $p('ul.content').compile(directive);
	
	directiveLocationsComments = {
		'.location-comments': {
			'obj<-data': {
				'@data':'obj.id',
				'strong':'obj.idUser.fullName',
				'em':'obj.comment',
				'.timeago@title': function(){
					return dateAgo('timeago',this.dateAdded.timestamp)
				},
			}
		}
	}
	compileLocationsComments = jQuery('#location-comments').compile(directiveLocationsComments);
	
	loadLocationPhotos();
	loadLocationsComments();
	
	jQuery(document).delegate('.btn-comment-add', 'click', function(){
		textComment = jQuery(this).closest('.boxCommentsAdd').find('.commentAdd');
		locationsCommentsAddText = textComment.val();
		locationsCommentsAddText.trim();
	
		if(locationsCommentsAddText.length) { 
			loadLocationsCommentsAdd();
			textComment.val('');
		} else { textComment.focus(); return false; }
	});
	
	jQuery(document).delegate('.response', 'click', function(){
		return false;
	});
	
});
</script>

<div title="Exibir comentários" class="comment-ico com-ico"><span></span></div>
<div title="Selecionar por data" class="calendar-ico"><span></span></div>
<div class="location-info">
	<div class="content">
		<h1 class="locName"></h1>
		
		<span class="locLikes"></span>
		
		<div class="divide"></div>
		
		<h3 class="locAddress"></h3>
		<span class="locCatCitSta"></span>
		<div class="clr h20"></div><div class="clr h10"></div>
		
		{% if location.phone %}
		<h3>{% trans %}location.info.phone {% endtrans %}</h3>
		<span>
			{{ location.phone }}
		</span>
		{% endif %}
		<div class="clr h20"></div><div class="clr h10"></div>
		
		<ul class="pho-menu">
			<li><span class="ind"></span> <a href="">{% trans %}location.info.indicate{% endtrans %}</a></li>
			<li><span class="add"></span> <a href="">{% trans %}location.info.favorite{% endtrans %}</a></li>
			<li><span class="com"></span> <a class="com-ico" href="">Exibir comentários</a></li>
		</ul>
		
		<br />
		<h3> 30 Spooters - 5 Friends</h3>
	</div>
</div>
<div class="com-back"><span></span></div>
<div class="comment">
	<div class="espace">
		<h2>Comentários <span class="comments-total"></span></h2>
		
		<div class="clr h10"></div>
		<div class="boxCommentsAdd">
			<div class="row">
				<textarea name="detalhes" rows="5" class="commentAdd borRad02" placeholder="Comentar"></textarea>
			</div>
			<div class="clr"></div>
			<input class="btn-padrao-m dir btn-comment-add" type="button" value="Enviar">
		</div>
		
		<div class="clr h20"></div>
		<div id="location-comments">
			<div class="location-comments" data="">
				<h3>
					<strong></strong> 
					<em></em>
				</h3>
				<span class="timeago"></span>
				<a href="#" class="response">Responder</a>
			</div>
		</div>
		
		<div id="location-comments-result"></div>
	</div>
</div>

<ul class="content template">		
	<li id="" class="photo eve-pic" data="">
		<a href="#" class="box">
			<input type="hidden" class="name" value="">
			<input type="hidden" class="username" value="">
			<input type="hidden" class="userpic" value="">
			<input type="hidden" class="dateadded" value="">
			<input type="hidden" class="name_location" value="">
			<input type="hidden" class="caption" value="">
			<div class="time">
				<div class="clock"></div>
				<div class="tmp"><span class="timeago" title=""></span></div>
				<div class="clr h05"></div>
				<div class="date-g">
					<div class="day"></div>
					<div class="day-str"></div>
				</div>
			</div>
			<div class="image">
				<img class="lazy" src="/bundles/site/images/photo-placeholder.png" data-original="" />
			</div>
		</a>
		<div class="back"></div>
	</li>
</ul>
<div id="photo-list">
</div>	

{% endblock %}