{% extends page == 1 ? 'SiteBundle::layout.html.twig' : 'SiteBundle::blank.html.twig' %}

{% block body %}
	{% if page == 1%}
<script>
var $b = jQuery.noConflict();
$b(document).ready(function(){
	var	shadown = '.shadown';
	var html = '';
	html += '<div class=\"box\">                                                        ';
	html += '	<div class=\"slide-eve-prev\"></div><div class=\"slide-eve-next\"></div>';
	html += '	<div class=\"content\">                                                 ';
	html += '		<div class=\"img\"><img src=\"\" /></div>                           ';
	html += '		<div class=\"author\">                                              ';
	html += '			<img src=\"\" width=\"30\" height=\"30\" />                     ';
	html += '			<h3>	                                                        ';
	html += '				<strong class=\"user\"></strong>	                        ';
	html += '				enviou essa foto de 	                                    ';
	html += '				<strong><strong class=\"name_location\"></strong></strong>  ';
	html += '				<br /><span class=\"data_pic\"></span>	                    ';
	html += '			</h3>                                                           ';
	html += '		</div>                                                              ';
	html += '	</div>                                                                  ';
	html += '	<div class=\"slide-close\"></div>                                       ';
	html += '	<div class=\"slide-icos slide-fav\"></div>                              ';
	html += '	<div class=\"slide-icos slide-lug\"></div>                              ';
	html += '	<div class=\"slide-icos slide-com\"></div>                              ';
	html += '</div>                                                                     ';
	
	$b(shadown).html(html);
	
	var widthIco = 0;
	$b(".slide-icos").hover(function(event){
		if (event.type === 'mouseenter') {
			if($b(this).hasClass("slide-fav")) { widthIco = 202; }
			if($b(this).hasClass("slide-lug")) { widthIco = 130; }
			if($b(this).hasClass("slide-com")) { widthIco = 114; }
			$b(this).animate({ width : widthIco}, 200);
		} else {
			widthIco = 29;
			$b(this).animate({ width : widthIco}, 200);
		}
	});
});
</script>

<div class="location-info">
	<div class="loc">
		<h1>{{ location.name }}</h1>
		<div class="date">
			<span class="day">{{ location.dateUpdated|date('d') }}</span>
			<span class="time">Sábado</span>
		</div>
	</div>
	<div class="content">
		<span>145 Pessoas indicaram este lugar.</span>
		
		<div class="divide"></div>
		
		<h3>{{ location.address }}</h3>
		<span>
			{{ location.idCategory.name }}<br />
			{{ location.city }} {{ location.state }} {{ location.postalCode }}
		</span>
		<div class="clr h20"></div><div class="clr h10"></div>
		
		{% if location.phone %}
		<h3>{% trans %}location.info.phone {% endtrans %}</h3>
		<span>
			{{ location.phone }}
		</span>
		{% endif %}
		<div class="clr h20"></div><div class="clr h10"></div>
		
		<ul class="pho-menu">
			<li><span class="ind"></span> <a href="">{% trans %}location.info.indicate{% endtrans %}</a></li>
			<li><span class="add"></span> <a href="">{% trans %}location.info.favorite{% endtrans %}</a></li>
			<li><span class="fav"></span> <a href="">{% trans %}location.info.favlist{% endtrans %}</a></li>
		</ul>
	</div>
</div>
<input type="hidden" name="next_page" id="next_page" value="{{ next_page }}" />
<ul class="content location infinite-scroll">
	{% endif %}
	
	{% for pic in pics %}
	<li class="photo eve-pic" data="{{ pic.standardResolution }}">
		<a href="#" class="box">
			<input type="hidden" class="username" value="{{ pic.idUser.username }}">
			<input type="hidden" class="userpic" value="{{ pic.idUser.profilePicture }}">
			<input type="hidden" class="dateadded" value="{{ pic.dateAdded|date('d/m/Y') }}">
			<input type="hidden" class="name_location" value="{{ location.name }}">
			<div class="time">
				<div class="clock"></div>
				<div class="tmp"><span class="timeago" title="{{ pic.dateAdded|date() }}">{{ pic.dateAdded|date('d/m/Y') }}</span></div>
			</div>
			<div class="image">
				<img class="lazy" src="{{ asset('bundles/site/images/photo-placeholder.png') }}" data-original="{{ pic.standardResolution }}" />
			</div>
		</a>
		<div class="back"></div>
	</li>
	{% endfor %}
	
	{% if next_page != false %}
		<a class="jscroll-next" href="{{ path('photo_show', { idLocation: location.id, slug: location.slug, page: next_page}) }}">...</a>
	{% endif %}
	
	{% if page == 1%}

</ul>
<div class="pg-prev"></div>
<div class="pg-next"></div>
<div class="create" style="height:1px; display:block;"></div>
	{% endif %}
{% endblock %}