{% extends page == 1 ? 'SiteBundle::layout.html.twig' : 'SiteBundle::blank.html.twig' %}

{% block body %}
	{% if page == 1%}
<script>
var $b = jQuery.noConflict();
$b(document).ready(function(){
	var	timer = "", 
		time = 0, 
		wid = 0, 
		locInfo = $b(".location-info"), 
		locDate = $b(".location-date"),
		comment = $b(".comment"),
		comIco = $b(".comment-ico"),
		site = $b("#site");
	
	locationInfo(false,3000);
	
	$b(locInfo).hover(function() {
		locationInfo(true,10);
	},function(){
		locationInfo(false,10);
	});
	
	$b(".ph-menu-com").click(function() {
		$b(comment).animate({"right" : 0}, 500);
		return false;
	});
	$b(comIco).click(function() {
		$b(comment).animate({"right" : 0}, 500);
		return false;
	});
	$b(comIco).hover(function() {
		locationInfo(false,10);
	});
	$b(".comment .com-back").click(function() {
		$b(comment).animate({"right" : -353}, 500);
		return false;
	});
	
	$b(locDate).css("left",$b(locInfo).width()-10);
	$b(locDate).hover(function(){
		locationInfo(true,10);
	},function(){
		locationInfo(false,10);
	});
	function locationInfo(action,time){
		wid = !(action) ? -($b(locInfo).width()-10) : 0;
		opa = !(action) ? 0.5 : 1;
		dat = !(action) ? 0 : $b(locInfo).width()-10;
		timer = setTimeout(function(){
			$b(locInfo).animate({"left" : wid , "opacity" : opa}, 300);
			$b(locDate).animate({"left" : dat }, 300);
			clearTimeout(timer);
		}, time);
	}
	
	var	shadown = '.shadown';
	var html = '';
	html += '<div class=\"gallery-box\"><div class=\"box\">                                   ';
	html += '	<div class=\"slide-eve-prev\"></div><div class=\"slide-eve-next\"></div>      ';
	html += '	<div class=\"content\">                                                       ';
	html += '		<div class=\"img\"><span class=\"sh\"></span><img src=\"\" />             ';
	html += '			<div class=\"description\">                                           ';
	html += '				<span class=\"caption\"></span>	 							      ';
	html += '				<div class=\"author\">                                            ';
	html += '					<img src=\"\" width=\"30\" height=\"30\" />                   ';
	html += '					<h3>	                                                      ';
	html += '						<strong class=\"user\"></strong>	                      ';
	html += '						enviou essa foto de 	                                  ';
	html += '						<strong><strong class=\"name_location\"></strong></strong>';
	html += '						<br /><span class=\"data_pic\"></span>	                  ';
	html += '					</h3>                                                         ';
	html += '				</div>                                                            ';
	html += ' 			</div>                                                                ';
	html += ' 		</div>                                                                	  ';
	html += '		<div class=\"slide-close\"></div>                                     	  ';
	html += '		<div class=\"slide-icos slide-fav\"></div>                            	  ';
	html += '		<div class=\"slide-icos slide-lug\"></div>                            	  ';
	html += '		<div class=\"slide-icos slide-com\"></div>                            	  ';
	html += '	</div>                                                                    	  ';
	html += '</div>                                                                       	  ';
	html += '</div>                                                                           ';
	
	$b(shadown).html(html);
	
	var widthIco = 0;
	$b(".slide-icos").hover(function(event){
		if (event.type === 'mouseenter') {
			if($b(this).hasClass("slide-fav")) { widthIco = 202; }
			if($b(this).hasClass("slide-lug")) { widthIco = 130; }
			if($b(this).hasClass("slide-com")) { widthIco = 114; }
			$b(this).animate({ width : widthIco}, 200);
		} else {
			widthIco = 29;
			$b(this).animate({ width : widthIco}, 200);
		}
	});
	
	$b(".gallery-box").delegate(".sh",'click', function(event) {
		$b(".gallery-box .description").slideToggle();
		$b(this).toggleClass("shb");
	});
});
</script>
<div class="location-date">
	<span class="day">{{ location.dateUpdated|date('d') }}</span>
	<span class="time">Sábado</span>
</div>
<div title="Exibir comentários" class="comment-ico"><span></span></div>
<div class="location-info">
	<div class="content">
		<h1>{{ location.name }}</h1>
		
		<span>145 Pessoas indicaram este lugar.</span>
		
		<div class="divide"></div>
		
		<h3>{{ location.address }}</h3>
		<span>
			{{ location.categoryName }}<br />
			{{ location.cityName }} {{ location.stateName }}
		</span>
		<div class="clr h20"></div><div class="clr h10"></div>
		
		{% if location.phone %}
		<h3>{% trans %}location.info.phone {% endtrans %}</h3>
		<span>
			{{ location.phone }}
		</span>
		{% endif %}
		<div class="clr h20"></div><div class="clr h10"></div>
		
		<ul class="pho-menu">
			<li><span class="ind"></span> <a href="">{% trans %}location.info.indicate{% endtrans %}</a></li>
			<li><span class="add"></span> <a href="">{% trans %}location.info.favorite{% endtrans %}</a></li>
			<li><span class="fav"></span> <a href="">{% trans %}location.info.favlist{% endtrans %}</a></li>
			<li><span class="com"></span> <a class="ph-menu-com" href="">Exibir comentários</a></li>
		</ul>
	</div>
</div>
<div class="comment">
	<div class="com-back"><span></span></div>
	<div class="espace">
		<h2>Comentários <span>(10)</span></h2>
		<div class="com">
			<h3><strong>Givanildo</strong> Muito bacana asfljk asflja sfoiua sdfou asflj asfljkasfozuv asf kaasf.</h3>
			<span>5 horas atrás</span>
			<a href="">Responder</a>
		</div>
		<div class="com">
			<h3><strong>Givanildo</strong> Muito bacana asfljk asflja sfoiua sdfou asflj asfljkasfozuv asf kaasf.</h3>
			<span>5 horas atrás</span>
			<a href="">Responder</a>
		</div>
		<div class="com">
			<h3><strong>Givanildo</strong> Muito bacana asfljk asflja sfoiua sdfou asflj asfljkasfozuv asf kaasf.</h3>
			<span>5 horas atrás</span>
			<a href="">Responder</a>
		</div>
	</div>
</div>
	{% endif %}

	{% if page == 1%}
<input type="hidden" name="np" class="np" value="" />
<input type="hidden" name="next_page" id="next_page" value="{{ next_page }}" />
<div id="photo-list">
	{% endif %}	
	<ul class="content">
		{% for pic in pics %}
			<li class="photo eve-pic li-{{ ul_count }}" data="{{ pic.standardResolution }}">
				<a href="#" class="box">
					<input type="hidden" class="username" value="{{ pic.idUser.username }}">
					<input type="hidden" class="userpic" value="{{ pic.idUser.profilePicture }}">
					<input type="hidden" class="dateadded" value="{{ pic.dateAdded|date('d/m/Y') }}">
					<input type="hidden" class="name_location" value="{{ location.name }}">
					<input type="hidden" class="caption" value="{{ pic.caption }}">
					<div class="time">
						<div class="clock"></div>
						<div class="tmp"><span class="timeago" title="{{ pic.dateAdded|date() }}">{{ pic.dateAdded|date('d/m/Y') }}</span></div>
					</div>
					<div class="image">
						<img class="lazy" src="{{ asset('bundles/site/images/photo-placeholder.png') }}" data-original="{{ pic.standardResolution }}" />
					</div>
				</a>
				<div class="back"></div>
			</li>
			<div class="date photo">
				<span class="day">{{ pic.dateAdded|date('d/m/Y') }}</span>
			</div>
			
			{% set ul_count = ul_count + 1 %}
		
			{% if ul_count == 10 %}
			</ul>
			<ul class="content">
				{% set ul_count = 1 %}
			{% endif %}
		{% endfor %}
	</ul>
	<script>
	{% if next_page != false %}
		$b('.np:first').val("{{ path('photo_show', { idLocation: location.id, slug: location.slug, page: next_page}) }}");
	{% else %}
		$b('.np:first').val("");
	{% endif %}
	</script>
	{% if page == 1 %}
</div>
	{% endif %}	
{% endblock %}