{% extends 'SiteBundle::layout.html.twig' %}

{% block body %}
<script>
var $b = jQuery.noConflict();
$b(document).ready(function(){
	$b(".shadown").html('<div class=\"box\"><div class=\"slide-eve-prev\"></div><div class=\"slide-eve-next\"></div><div class=\"content\"><div class=\"img\"><img src=\"\" /></div><div class=\"author\"><img src=\"\" width=\"30\" height=\"30\" /><h3><strong class=\"user\"></strong> enviou essa foto de <strong><strong class=\"name_location\"></strong></strong><br /><span class=\"data_pic\"></span></h3></div></div><div class=\"slide-close\"></div><div class=\"slide-icos slide-fav\"></div><div class=\"slide-icos slide-lug\"></div><div class=\"slide-icos slide-com\"></div></div>');
});
</script>

<div class="location-info">
	<div class="loc">
		<h1>{{ location.name }}</h1>
		<div class="date">
			<span class="day">{{ location.dateUpdated|date('d') }}</span>
			<span class="time">Sábado</span>
		</div>
	</div>
	<div class="content">
		<span>145 Pessoas indicaram este lugar.</span>
		
		<div class="divide"></div>
		
		<h3>{{ location.address }}</h3>
		<span>
			{{ location.idCategory.name }}<br />
			{{ location.city }} {{ location.state }} {{ location.postalCode }}
		</span>
		<div class="clr h20"></div><div class="clr h10"></div>
		
		{% if location.phone %}
		<h3>{% trans %}location.info.phone {% endtrans %}</h3>
		<span>
			{{ location.phone }}
		</span>
		{% endif %}
		<div class="clr h20"></div><div class="clr h10"></div>
		
		<ul class="pho-menu">
			<li><span class="ind"></span> <a href="">{% trans %}location.info.indicate{% endtrans %}</a></li>
			<li><span class="add"></span> <a href="">{% trans %}location.info.favorite{% endtrans %}</a></li>
			<li><span class="fav"></span> <a href="">{% trans %}location.info.favlist{% endtrans %}</a></li>
		</ul>
	</div>
</div>

<ul class="content location">
	{% for pic in pics %}
	<li class="photo eve-pic" data="{{ pic.standardResolution }}">
		<a href="#" class="box">
			<input type="hidden" class="username" value="{{ pic.idUser.username }}">
			<input type="hidden" class="userpic" value="{{ pic.idUser.profilePicture }}">
			<input type="hidden" class="dateadded" value="{{ pic.dateAdded|date('d/m/Y') }}">
			<input type="hidden" class="name_location" value="{{ location.name }}">
			<div class="time">
				<div class="clock"></div>
				<div class="tmp"><span class="timeago" title="{{ pic.dateAdded|date() }}">{{ pic.dateAdded|date('d/m/Y') }}</span></div>
			</div>
			<div style="position:absolute; z-index:1;">
				<img class="lazy" src="{{ asset('bundles/site/images/photo-placeholder.png') }}" data-original="{{ pic.standardResolution }}" />
			</div>
		</a>
		<div class="back"></div>
	</li>
	{% endfor %}
</ul>
<div class="create" style="height:1px; display:block;"></div>
{% endblock %}
