<!DOCTYPE html>
<html>
    <head>
		<meta charset="ISO-8859-1" />
		<meta property="fb:admins" content="1822973519" />
		<meta property="fb:app_id" content="231767200293108" />
		<meta property="og:url" content="http://www.coolspots.com.br/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="" />
		<meta property="og:image" content="" />
		<meta property="og:description" content=""/>
		<meta property="og:site_name" content="CoolSpots" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="keywords" content="" />
		<meta name="title" content="" />
		<meta name="image" content="" />
		<meta name="description" content="" />
		
		<meta name="google" content="notranslate" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<link href="{{ asset("bundles/site/images/favicon.png") }} " rel="shortcut icon" type="image/x-icon">
        <title>{% block title %}CoolSpot!{% endblock %}</title>
		
		<!-- Stylesheets -->
		<link href="{{ asset('bundles/site/css/style.css') }}" media="screen" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/site/css/prettyPhoto.css') }} " rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
		<link href="{{ asset('bundles/site/css/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css" />
        {% block custom_stylesheets %}{% endblock %}
		<!-- /Stylesheets -->
		
		<!-- Javascripts -->
		<script src="{{ asset('bundles/site/js/jquery-1.10.2.min.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/css3-mediaqueries.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.cycle.all.min.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.prettyPhoto.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/functions.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.mCustomScrollbar.min.js') }} " type="text/javascript"></script>
		{% block custom_javascripts %}{% endblock %}
		<!-- /Javascrits -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		{#
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=231767200293108";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		#}
        {% block body %}{% endblock %}
    </body>
</html>
