<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" />
		<meta property="fb:admins" content="1822973519" />
		<meta property="fb:app_id" content="231767200293108" />
		<meta property="og:url" content="http://www.coolspots.com.br/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ site_title }}" />
		<meta property="og:image" content="{{ site_logo }}" />
		<meta property="og:description" content="{{ site_description }}"/>
		<meta property="og:site_name" content="{{ site_name }}" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="keywords" content="{{ site_keywords }}" />
		<meta name="title" content="{{ site_title }}" />
		<meta name="image" content="" />
		<meta name="description" content="" />
		
		<meta name="google" content="notranslate" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="cache-control" content="no-cache" />
		<link href="{{ asset("favicon.ico") }} " rel="shortcut icon" type="image/x-icon">
        <title>{% block title %}{{ site_title }}{% endblock %}</title>
		
		<!-- Stylesheets -->
		<link href="{{ asset('bundles/site/css/style.css') }}" media="screen" rel="stylesheet" type="text/css">
		<link href="{{ asset('bundles/site/css/prettyPhoto.css') }} " rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
		<link href="{{ asset('bundles/site/css/jquery.mCustomScrollbar.css') }}" rel="stylesheet" type="text/css" />
        {% block custom_stylesheets %}{% endblock %}
		<!-- /Stylesheets -->
		
		<!-- Javascripts -->
		<script src="{{ asset('bundles/site/js/jquery-1.10.2.min.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/main.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.lazyload.min.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/css3-mediaqueries.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.cycle.all.min.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.prettyPhoto.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/functions.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.mCustomScrollbar.min.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.timeago/jquery.timeago.js') }} " type="text/javascript"></script>
		<script src="{{ asset('bundles/site/js/jquery.timeago/locales/jquery.timeago.' ~ app.session.get('_locale', 'en_US') ~ '.js') }} " type="text/javascript"></script>
		{% block custom_javascripts %}{% endblock %}
		<!-- /Javascrits -->
		
		<script>
			var ENV_SCRIPT = {% if app.environment == 'dev' %} '/app_dev.php'; {% else %} ''; {% endif %}
		</script>
    </head>
    <body>
		{#
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=231767200293108";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		</script>
		#}
		<div class="top-bar">
			<div class="top-bar-ico"></div>
			<div class="back">
				<div class="aonde">
					<div class="ico-onde"></div>
					
					<div class="topo-input">
						<div class="ico-input"></div>
						<input type="text" class="inp-postar" placeholder="{% trans %}wdygt.field{% endtrans %}">
					</div>
					<input class="btn-padrao post" type="button" value="{% trans %}wdygt.submit{% endtrans %}">
				</div>
				
				<div class="best">
					<span>{% trans %}spots.best{% endtrans %} &nbsp; |</span>
					<span class="ico-melhores"></span>
					<ul>
						<li><a href="#">{% trans %}spots.best{% endtrans %}</a></li>
						<li class="noBor"><a href="">{% trans %}events.last{% endtrans %}</a></li>
					</ul>
				</div>
				
				<div class="top-ico">
					<span class="bor bl nor"></span>
					<em class="add-event">
						<em class="hint">Criar um evento</em>
					</em>
					<span class="bor br nor"></span>
				</div>
				<div class="top-ico">
					<span class="bor bl"></span>
					<em class="ind-location">
						<em class="hint">Indicar um lugar</em>
					</em>
					<span class="bor br nor"></span>
				</div>
								
				<div class="region">
					<span> Cuiabá &nbsp; > &nbsp; </span> <span> Brasil </span>
				</div>
			</div>
		</div>
        
		<div id="site">
			<div class="move">
				{% block body %}{% endblock %}
			</div>
		</div>
		
		<div class="bottom-bar">
			<a href="{{ path('main') }}" class="logo"></a>
			<ul>
				<li><a href="{{ path('about') }}"><span class="bor bl"></span>{% trans %}bottom.bar.about{% endtrans %}<span class="bor br nor"></span></a></li>
				<li><a href="{{ path('explore') }}"><span class="bor bl"></span>{% trans %}bottom.bar.explore{% endtrans %}<span class="bor br nor"></span></a></li>
			</ul>
			<div class="container-search">
				<input type="text" class="inp-search" placeholder="Procurar no site">
				<div class="bottom-ico search"></div>
			</div>
			<div class="info">
				<span class="name">Givanildo Oliveira</span>
				<span class="fav-fri">15 {% trans %}bottom.bar.favorites{% endtrans %} | 45 {% trans %}bottom.bar.friends{% endtrans %}</span>
			</div>
			<ul class="dir">
				<li><a href="{{ path('favorites') }}"><span class="bor bl nor"></span><em class="fav"></em><span class="bor br nor"></span></a></li>
				<li><a href="{{ path('messages') }}"><span class="bor bl"></span><em class="mes"><em class="tot">10</em></em><span class="bor br"></span></a></li>
			</ul>
		</div>
		
		<div class="shadown"></div>
    </body>
</html>