{% extends 'SiteBundle::layout.html.twig' %}

{% block body %}
	{% if page == 1 %}
<input type="hidden" name="np" class="np" value="" />
<input type="hidden" name="next_page" id="next_page" value="{{ next_page }}" />
<div id="photo-list">
	{% endif %}
	<ul class="content">
		{% for item in rs %}
			<li class="photo li-{{ ul_count }}">
				<a href="{{ path('photo_show', {'idLocation' : item.id, 'slug' : item.slug}) }}" class="box">
					<div class="time">
						<div class="clock"></div>
						<div class="tmp"><span class="timeago" title="{{ item.dateUpdated|date() }}">{{ item.dateUpdated|date('d/m/Y') }}</span></div>
					</div>
					<div class="image">
						<img class="lazy" src="{{ asset('bundles/site/images/photo-placeholder.png') }}" data-original="{{ item.lastPic }}" />
					</div>
					<div class="info">
						<div class="favorite {% if ul_count % 2 == 0 %} this-fav {% endif %}"></div>
						<h2 class="title">{{ item.name }}</h2>
						<div class="more">25 Spooters - 2 Friends</div>
					</div>
				</a>
				<div class="back" data="{{ path('photo_show', {'idLocation' : item.id, 'slug' : item.slug}) }}"></div>
			</li>
			
			{% set ul_count = ul_count + 1 %}
		
			{% if ul_count == 10 %}
			</ul>
			<ul class="content">
				{% set ul_count = 1 %}
			{% endif %}
		{% endfor %}
	</ul>
	<script>
	{% if next_page != false %}
		$a('.np:first').val("{{ path('main') }}?page={{ next_page}}");
	{% else %}
		$a('.np:first').val("");
	{% endif %}
	</script>
	{% if page == 1 %}
</div>
	{% endif %}
{% endblock %}